*{
  box-sizing: border-box;
}

body,html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.menu {
  background-color: #c51162;
  height: 64px;
  display: flex;
  align-items: center;
}

.menu-box {
  margin: 0 10px;
  padding: 15px;
} 

.menu-box > span {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.hide{
  display: none;
}

thead {
  font-weight: bold;
}

table, td{
  padding: 4px;
  text-align: center;
  border-collapse: collapse;
  border:1px solid #000;
}