*{
  box-sizing: border-box;
}

body,html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.menu {
  background-color: #c51162;
  height: 64px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}


.menu-box {
  margin: 0 10px;
  padding: 15px;
} 

.menu-box > span {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.input{
  margin: 40px;
}

.input > form {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 50px;
}

label{
  margin-right: 10px;
  color: #7f8484;
  padding-top: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"]{
  min-width: 50%;
  border-radius: 8px;
  border: 1px 1px black;
  border: 1px solid #05060645;
  padding: 10px;
  height: 30px;
  letter-spacing: 4px;
}

input[type="text"]:focus{
  outline: none;
}

input[type="text"]:hover{
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  transition: all .25s ease-out;
}
input[type="submit"]{
  margin-left: 10px;
  border-radius: 20px;
  width: 150px;
  border: none;
  padding: 7px;
  background: cadetblue;
  color: white;
  font-weight: bolder;
}

/* section output */
.output{
  margin: 0 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}



.hide{
  display: none;
}

thead {
  font-weight: bold;
  color: white;
  background-color: #b111c5a6;
  letter-spacing: 4px;
}

table, td{
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
  border: 4px solid #fff;
}


tr:nth-child(even){
  background-color: #3600ff3b;
}

tr:nth-child(odd){
  background-color: #3600ff14;
}